.homepage {
    width: 90%;
    max-width: 340px;
    margin: 10vh auto;
}
button{
    background-color: rgb(231, 61, 19);
    width: 160px;
    height: 25px;
    border-radius: 8px;

}
.button:hover{
    background-color: rgb(230, 62, 118);
}